<header class="navbar navbar-inverse navbar-fixed-top">
    <a id="leftmenu-trigger" class="pull-left" data-toggle="tooltip" data-placement="bottom" title="Esconder Menu"></a>

    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#"></a>
    </div>

    <ul class="nav navbar-nav pull-right toolbar settings-menu">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                <span>rafael@santiagodev.com.br</span>
            </a>
            <ul class="dropdown-menu userinfo arrow">
                <li class="username">
                    <a href="#">
                        <div class="pull-left">
                            <h5>Rafael Santiago</h5>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>