<!-- BEGIN SIDEBAR -->
<nav id="page-leftbar" role="navigation">
    <div class="box-logo">
        <p><img src="{{ asset('bundles/rafaelsantiagotesourodireto/img/logo-td.png') }}" /></p>
    </div>
    <hr />
    <div class="box-user hidden-xs">
        <a class="btn btn-green" href="{{ path('rafael_santiago_tesouro_direto_insert') }}"><i class="fa fa-cloud-upload"></i> Adicionar Título</a>
    </div>
    <hr />
</nav>